.Foto-Projeto{    
    border-color: brown;
    max-width: 200px;
    border: 4px;    scrollbar-3dlight-color: rgb(165, 161, 42);
}
h1{
    text-align: center;
    border-color: brown;    
    background-color: #a52a2a;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f0f8ff;    
}
body{
    background-color: #fffaf0;}

.Botão1{
    background-color: #4CAF50; /* Green */
    border-radius: 8px;
    color: #ffffff;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4ms;                                       
}
.Botão1:hover{
    background-color: #4CAF50; /* Green */
    color: #ffffff;
}
.Botão2{
    background-color: #7fffd4;
    border-radius: 10px;
    color: rgb(8, 8, 8);
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.6s;
}
